*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/background.jpg);
    background-size: cover;
}

h1{
    color:white;
    text-align: center;
    margin-top: 50px;
}

h4{
    color: white;
    text-align: center;
    padding: 20px;
}

.navbarhorizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.left{
    flex: 1;
    color:  #459E85;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}

.right{
    display: flex;
}
.listnavhorizontal{
    display: inline;
    margin: 40px;
    font-size: 15px;
    font-weight: bold;
}

/* .listnavhorizontal1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.block{
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-left: 200px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    display: block;
    margin-block: 10px;
 
}

button{
    position: relative;
    bottom: -60px;
    background-color:  #459E85;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover{   
    background-color: rgb(7, 53, 66);
}

.searchTrip{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

input
{
  height: 25px;
  width: 250px;
  font-size: 1em;
  background-color: rgba(232, 224, 224, 0.756);
  border: none;
  border-radius: 2px;
  padding: 2px;
}

#champ2{
    border-top: 1px solid black;
}

#champ3{
    margin-top: 60px;
    border: none;
}

.blocImage{
    max-width: 60%;
    display: block;
    margin: 0 auto;
    

}
p{
    color: black;
    text-align: center;
    padding: 20px;
    border-top: 2px  #459E85 solid;
}
