*{
    margin: 0;
    padding: 0;
}

body {
     background-color:#EFF2F1 ;
     width: 100vw;
     height: 100vh;
}

.navbarhorizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.left{
    flex: 1;
    color:  #459E85;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}

.right{
    display: flex;
}
.listnavhorizontal{
    display: inline;
    margin: 40px;
    font-size: 15px;
    font-weight: bold;
}

.mon-panier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    height: 15vh;
    width: 50vw;
    text-align: center ;
    margin: center;
    background-color: white;
    
    padding:1em ;
    border-top-left-radius: 0.4rem ;
    border-top-right-radius: 0.4rem ;
}

p{
    font-weight: bold;
    padding: 10px;
    font-size: x-small;
}





